:root{
    --bg-color: #ece7e0;
    --color: black;

}
.dark-mode{
    --bg-color: #282828;
    --color: white;
}
.dark-light{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%) ;

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;

}


/* Header styles */
header{
    width: 100%;
}


/*  Navbar  */
nav{
    position: fixed;
    display: flex;
    width: 100%;
    background-color: var(--bg-color);
    height: 50px;
    z-index: 1000;
}


/* Logo styling */
.logo{
    height: 50px;
    width: 100px;
    float: left;
}

.logo img{
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
}

nav ul{
    display: flex;
    gap: 50px;
    float: right;
}

nav ul li{
    list-style: none;
}

nav ul li:hover{
    border-bottom: 2px solid var(--color);
    
}

nav ul li a{
    text-decoration: none;
    color: var(--color);
}

.nav-btns{
    display: flex;
    flex-direction: row;
    margin: 0 2rem;
    align-items: center;

}
/*hamburger*/
.hamburger{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) ;
}
.hamburger .line{
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.hamburger.active .line:first-child{
    -webkit-transition: translateY(7px) rotate(45deg);
    -ms-transform: translateY(7px) rotate(45deg);
    -o-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active .line:last-child{
    -webkit-transition: translateY(-7px) rotate(-45deg);
    -ms-transform: translateY(-7px) rotate(-45deg);
    -o-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg);
}
.hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color);
    margin-bottom: 5px;
}
@Media (max-width: 768px){
    .navul {
        position: absolute;
        top: 80%;
        width: 650px;
        height: 130px;
        border-radius: 10px;
        border: 1px solid var(--color);
        background-color: var(--bg-color);
        transition: all o.3s ease-in-out;
        display: none;
    }
    .navul {
        margin-top: 10px;
    }
    .navul li{
        text-align: center;
    }
    .navul a{
        color: var(--color);
    }
    .navul.active {
        display: block;

    }
    .nav-btns{
        margin-right: 3rem;
    }
    .hamburger{
        display: block;
    }
    .hamburger .line {
        color: #000;
    }
}

/* Home page background img styling */
.hero{
    background: url(./img/cover.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Home page text styling */
.hero-text{
    text-align: center;
    color: aliceblue;
    justify-content: center;
    padding-top: 200px;
}

.hero-text h1{
    font-size: 60px;
    color:aliceblue;
}

.hero-text p{
    font-size: 40px;
    font-style: italic;
}
    /* media query */
@media only screen and (max-width: 400px) {
    .hero-text h1 {
        font-size: 40px;
    }
    .hero-text p{
        font-size: 30px;
        font-style: italic;
    }
}



/* book now button */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    ;
}

.modal-content {
    background-color:rgba(35, 24, 16, 0.463);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.close {
    color: #f1e6e6;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(236, 139, 139);
    text-decoration: none;
    cursor: pointer;
}

.form-book {
    margin-bottom: 15px;
}

.form-book label {
    display: block;
    margin-bottom: 5px;
    float: left;
}

.form-book select,
.form-book input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-book button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-book button:hover {
    background-color: #218838;
}

.booking-confirmation {
    display: none;
    margin-top: 20px;
    color: green;
}

.error-message {
    color: red;
    display: none;
    margin-top: 10px;
}



/* countdown timer */
#offer-countdown {
    text-align: center;
    margin: 2px;
    padding: 1px;
    background-color:var(--bg-color);
    border-radius: 10px;
    border: 1px solid #ddd;
    color: rgb(163, 42, 42);
  }
  
  #countdown-timer {
    font-size: 24px;
    font-weight: bold;
    color: #ff4500;
  }


  
/* About styling */
.about{
    padding: 60px 20px;
    background-color:var(--bg-color);
    justify-content: center;
    align-items: center;
}

.content{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about .content img{
    height: auto;
    width: 45%;

}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
    text-align: justify;
    color: var(--color);
}


/* Media queries for About (For mobile screens)*/
@media only screen and (max-width: 600px) {
    .about .content img{
      width: 100%;
    }
  }


/* faq */
.faq-answer {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
    color: var(--color);

}
.faq-question {
    cursor: pointer;
    color: var(--color);
}

    


/*******************************/
/********* Pricing CSS *********/
/*******************************/
.services {
    padding: 60px 20px;
    background-color:var(--bg-color);
    justify-content: center;
    align-items: center;
    color: var(--color);
}
.price {
    position: relatie;
    width: 100%;
    padding: 40px 0 15px 0;
}

.price .price-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
    background: rgba(29, 36, 52, .04);
    transition: .3s;
}

.price .price-item:hover {
    background: #D5B981;
}

.price .price-img {
    position: relative;
    width: 100px;
}

.price .price-img img {
    width: 100%;
}

.price .price-img::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 1;
}

.price .price-text {
    position: relative;
    padding: 0 15px;
    width: calc(100% - 100px);
    overflow: hidden;
    color: var(--color);
}

.price .price-text h2 {
    position: relative;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    color: var(--color);
}

.price .price-text h3 {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--color);
}


/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
    background-color: var(--bg-color);
    color: var(--color);
}

.team .team-item {
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
}

.team .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #F6F6F7;
    transition: .3s;
    z-index: 1;
}

.team .team-img img {
    width: 100%;
}

.team .team-text {
    position: relative;
    margin: -60px 15px 0 15px;
    padding: 30px 15px;
    text-align: center;
    background: var(--bg-color);
    transition: .3s;
    z-index: 2;
}

.team .team-text h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--color);
}

.team .team-text p {
    margin: 0;
    color: var(--color);
}

.team .team-item:hover .team-text {
    background: #D5B981;
}

.team .team-item:hover .team-img::after {
    border-color: #D5B981;
}

/*******************************/
/******** Portfolio CSS ********/
/*******************************/
.portfolio {
    position: relative;
    padding: 45px 0 15px 0;
    color: var(--color);
    background-color: var(--bg-color);
}

.portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 25px 0;
    list-style: none;
    font-size: 0;
    text-align: center;
}

.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    color: var(--color);
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    background: none;
    border: 2px solid #1d2434;
    transition: .3s;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    background:var(--color);
    color: #D5B981;
}

.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    transition: .3s;
}

.portfolio .portfolio-item:hover {
    margin-top: -10px;
}

.portfolio .portfolio-wrap {
    position: relative;
    width: 100%;
}

.portfolio .portfolio-wrap a::after {
    position: absolute;
    content: "";
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    background: transparent;
    border: 1px solid #F6F6F7;
    transition: .3s;
    z-index: 1;
}

.portfolio .portfolio-wrap:hover a::after {
    border-color: #D5B981;
}

.portfolio img {
    position: relative;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}



  /* scroll to top button */
  #scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#scrollTopBtn:hover {
    background-color: #555;
}


/* img side show */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



/* ===== Form ========= */
/*  Contact */
.contact-section {
    text-align: center;
  }
  
  .contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-section p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  

  .contact-section .form-group input:focus {
      outline: 0;
      border-color: #777;
  }
  .contact-section .form-group.success input{
    border-color: #2ecc71;
  }
  .contact-section .form-group textarea {
    height: 150px;
  }
  

  
small {
      color: #b6200d;
      position: absolute;
      visibility: hidden;
  }
  
  .form-group.error small {
    visibility: visible;
    text-align: center;
    color: #b6200d;
}

  .contact-section button {
    font-family: 'Quicksand', sans-serif;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 2px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .contact-section button:hover {
    background-color: #444;
  }


/* contact form */

form{
    margin: 0 auto;
}   

    

.Contactus {
    padding: 60px 20px;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}


/* Container styling for centering the form */
.container {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color:var(--bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Header styling */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color);
}


/* Form styling */
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    color: var(--color);
}


/* Label styling */
label {
    display: block;
    margin-bottom: 5px;
    float: left;
    font-size: 16px;
}


/* Input and textarea styling */
input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}


/* Button styling */
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}


/* Button hover effect */
button:hover {
    background-color: #0056b3;
}


/* Error message styling */
.form-error{
    margin-left: 1px;
}
.error {
    color: red;
    margin-bottom: 40px;
    
}



/* FOOTER SECTION */
footer {
    background-color:var(--bg-color);
    color: var(--color);
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.social a {
    color: var(--color);
    margin: 0 10px;
    text-decoration: none;
}

.social i {
    font-size: 24px;
}

.address p, 
.opening-hours p {
    margin: 5px 0;
}

hr {
    border: 0.5px solid #777;
    margin: 20px 0;
}

.copyright {
    margin: 0;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social {
        margin-bottom: 20px;
    }

    .address, 
    .opening-hours {
        margin-bottom: 20px;
    }

    .address p, 
    .opening-hours p {
        margin: 8px 0;
    }
}


